**PRINTING MULTIPLES OF 5 WITH IN RANGE OF (0 TO 100) USING FOR LOOP**

In [14]:
for i in range(0,100,5):
  print(i)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

**PRINT ALL VALUES FROM 1 TO 100 , SKIP THE NUMBERS DIVIDED BY 3 AND 5**

In [19]:
for i in range(1,100):
  if(i % 3!= 0 and i % 5!= 0):
    print(i)

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49
52
53
56
58
59
61
62
64
67
68
71
73
74
76
77
79
82
83
86
88
89
91
92
94
97
98

**PRINT ALL THE PERFECT SQUARE NUMBER BETWEEN 1 TO 500**

In [24]:
for i in range(1,50):
  print(i**2)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401

**PRINTING DIFFERENT PATTERNS**

In [22]:
i=1
while(i<=4):
  print("#", end=" ")
  j=1
  while(j<=4):
    print("#", end=" ")
    j+=1
  i+=1
  print()

# # # # #
# # # # #
# # # # #
# # # # #

In [25]:
for i in range(4):
  for j in range(i):
    print("#", end=" ")
  print()

#
# #
# # #